// colours
$color-white: #fafafa;
$color-black: #000;
// $color-white-transp: rgba(255,255,255,.9);
$color-black-transp: rgba(0,0,0,.8);
$color-bg: #f4f4f4;

$color-dark: #222;
$color-darker: #444;
$color-shadow: #ccc;
// $color-grey: #ccc;
// $color-main:#8d9444;

$color-link: #a771c5;
$color-link-hover: #ac833c;

// fonts
$font: system, Helvetica, sans-serif;
$font_extra: $font;

// other
$border-radius: 2px;
$width: 1000px;

// imports
@import "mixins";
@import "systemfonts";


// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
    display: block;
}

html {
    background-color: $color-bg;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: $font;
    font-size:16px;
}

html, body {
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font_extra;
    &:first-child {
        margin-top:0;
    }
}

h1 {
    margin:.5em 0;
    font-size:2em;
}
h2 {
    margin:.5em 0;
    font-size:1.25em;
}
h3 {
    margin:.25em 0;
    font-size:1.125em;
}
h4 {
    margin:.25em 0;
    font-size:1.125em;
    font-family: $font;
    font-weight:bold;
}
h5 {
    margin:.25em 0;
    font-size:1em;
    font-family: $font;
    font-weight:bold;
}
h6 {
    margin:.25em 0;
    font-size:1em;
    font-family: $font;
    font-style:italic;
}

p {
    line-height:1.5em;
    margin:0;
    @include word-wrap();
    text-align:justify;
    padding: 0 0 .5em;
}

a {
    text-decoration:none;
    color: $color-link;
    &:hover,&:focus, &.active ,&.active:hover {
        color: $color-link-hover;
        border-bottom:1px dotted;
    }
    &:hover,&:focus {
        img {
            filter: drop-shadow(-1px -1px rgba(0,0,0,.2));
        }
    }
}

code {
    background-color: $color-bg;
    padding: 1px 4px;
    border-radius: $border-radius;
    color: $color-darker;
    @include no-word-wrap();
}

main, header, footer, aside, nav {
    box-sizing:border-box;
}

body > main
, body > footer
, body > aside
{
    position:relative;
    margin: 1em auto;
    width: $width;
    max-width: 100%;
    padding: 1em;
    background-color: $color-white;
    color:$color-dark;
    @include box-shadow(0px 2px 2px $color-shadow);
    border-radius: $border-radius;
}

body > header {
    position:relative;
    margin: 1em auto;
    width: $width;
    max-width: 100%;
    text-align:center;
    a {
        display:table;
        margin:0 auto;
        img {
            filter: drop-shadow(2px 2px rgba(0,0,0,.2));
            width:200px;
        }
        &:hover,&:focus {
            border:none;
        }
    }
    h1 {
        margin:0;
    }

}

.labels {
    text-align:center;
    line-height:1.75em;
}
.label {
    display: inline-block;
    height: 1.5rem;
    line-height: 1rem;
    padding: .25rem .5rem;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    border-radius: $border-radius;
    color: $color-link;
    background-color:$color-black;
    @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.12) inset);
    .icon {
        height:1rem;
        float:left;
        margin-right:.2rem;
    }
}
a.label {
    &:hover,&:focus {
        background-color:$color-black-transp;
    }
    &.active {
        color: $color-link;
        border-bottom:2px solid $color-link-hover;
    }
}

body > footer {
    text-align:center;
    nav {
        padding: 0;
        margin: 0;
        ul {
            padding:0;
            margin:0;
        }
    }
}

body > nav {
    position:relative;
    margin: 1em auto;
    width: $width;
    max-width: 100%;
    padding: 1em;
    font-family: $font_extra;
    ul {
        display:block;
        margin:0 auto;
        padding:0;
        list-style-type:none;
        text-align:center;
    }
    li {
        display:inline-block;
        margin:.5em;
    }
    a {
        padding: .2em .4em;
        font-size: 1.2em;
        border-radius: $border-radius;
        background-color: $color-white;
        color: $color-link;
        @include box-shadow(0px 2px 2px $color-shadow);
    }
}

@media (min-width: 1000px) and (min-height:390px) {
    body > header, body > header + nav, body > footer {
        position:fixed;
        width:25%;
    }
    body > header + nav {
        top:220px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left:3em;
        @include box-shadow(0px 0px 2px $color-shadow);
        z-index:1;
        background-color:$color-bg;
    }
    body > nav {
        ul {
            text-align:left;
        }
        li {
            display:list-item;
            margin: .2em .5em;
        }
        a {
            padding:0;
            background-color:transparent;
            @include box-shadow(none);
            font-size:1em;
        }
    }
    body > main {
        position:absolute;
        right:0;
        margin:0;
        width:75%;
        border-radius:0;
        z-index:1;
        min-height:100vh;
    }
    body > footer {
        bottom: 0;
        margin: 0;
        z-index: 0;
        box-shadow: none;
        background-color:transparent;
        padding-top:0;
        padding-bottom:.2em;
        p {
            padding:0;
            font-size: .8em;
            text-align:center;
        }
        nav {
            ul {
                text-align:center;
            }
            li {
                display:inline-block;
            }
            a {
                font-size: .8em;
            }
        }
    }
}
